.olympic-banner{
    padding:5%;
    background-image: url('../images/banner.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
    text-align: right;
}
body{
    font-family: monospace;
    min-height: 2500px;
}

.olympic-holder{
    padding: 5%;
}

.centered{
    text-align: center;
}

@media all and (max-width: 960px) {
    
    .olympic-banner{
        height: auto;
    }
    
    table{
        font-size: 25px;
    }
}
